<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Services</title>
</head>

<body>
  <div class="conatiner" style="text-align: center">
    {%include 'navbar.html' %}

    <h1>The Services we provide</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
      ipsam! Sapiente hic aliquam dicta! Sequi mollitia voluptate vero
      reprehenderit aspernatur impedit suscipit obcaecati minima eveniet quam
      neque unde delectus quaerat exercitationem optio eius, nostrum iusto
      libero maxime porro, deserunt, assumenda itaque. Blanditiis excepturi
      libero ea ratione dolorem in fuga ducimus!
    </p>
    <button>Conatct Us</button>
  </div>
</body>

</html>